*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header {
    background-color: #dddddd02;
}

body{
    background-color: #1C1C1C;
    color: #DADDD8;
    margin: 0;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33235e;
}


.navbar li{
    float: right;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #463081;

  }
  
.divider {
    text-align: center;
    padding-bottom: 3%;
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.column {
    float: left;
    padding: 10px;
    padding-left: 7%;
    font-size: 1.3em;
}

.column h1{
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 2.5em;
}

.column img {
    max-width: 95%;
    height: auto;
}

.column.small {
    width: 34%;
}

.column.large{
    width: 46%;
}

.contentrow::after{
    content: "";
    display: table;
    clear: both;
  }

  .contentrow{
    padding-bottom: 5%;
  }

  .contactlinks{
    padding-left: 1%;
  }

  .contactlinks a{
    color: #7785cc;
    text-decoration: none;
  }

  .contactlinks a:hover{
    color: #DADDD8;
    text-decoration: underline;
  }